<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<mat-vertical-stepper>

  <mat-step label="Clock in">
  	 <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step label="Lunch">
    <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step label="Clock out">
    You are now done.
  </mat-step>

</mat-vertical-stepper>

<div class="stopwatch pt-3">
      <h1 text-center class="color-white font-lg">
        {{time}}
      </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <button class="circle-button circle-button-bg font-md" ion-button (click)="start()">{{ 'start' }}</button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (click)="stop()">{{ 'stop' }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
